@model List<PMS.Models.Task>
<h1>@ViewBag.Title</h1>




<table class="table">

    <tr>
       <th>Name</th>
       <th>Description</th>
       <th>ProjectID</th>
    </tr>

    @foreach (var task in Model)
    {
        <tr>
            <td>@task.Name</td>
            <td>@task.Description</td>
            <td>@task.ProjectID</td>
        </tr>
    }

   
</table>

@if (Model.Count == 0)
{
    <p>No task yet!</p>
}

<p><a asp-controller="Task" asp-action="Add">Add Task</a></p>
<p><a asp-controller="Task" asp-action="Delete">Delete Task</a></p>